#main-image{
    width: 350px;
    height: 300px;
    margin-bottom: 10px;

}

.bottom-image{
    width: 350px;
    height: 300px;
    cursor: pointer;
}

p{
    padding: 20px;
    font-size: 20px;
}

footer{
    
    background-color: rgb(26, 51, 136);
    text-align: center;
    

}

form{
    padding-left: 50px;
    padding-right: 50px;
}

body{
    background-color:rgb(255, 220, 123);
}
.formulario{
    padding: 5%;
}
h1{
    text-align: center;
    padding-top: 2%;
}
