.Nome{
    background-color: rgb(0, 194, 32);
    border: none;
    border-radius: 20px;
    padding: 30px;
}
.Email{
    background-color: rgb(7, 110, 245);
    border: none;
    border-radius: 20px;
    padding: 30px;
}
.Saque{
    background-color: rgb(248, 0, 0);
    border: none;
    border-radius: 20px;
    padding: 30px;
}
.Area{
    background-color: rgb(243, 33, 208);
    border: none;
    border-radius: 20px;
    padding: 30px;
}